@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@700;800&family=Cookie&family=Gravitas+One&display=swap');

/*
css global variable
*/
:root {
    --primary-color: #2176ff;
    --secondary-color: #ade8f4;
    --text-dark: black;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.colordard {
    background-color: var(--primary-color);
    color: white;
}

.colorLight {
    background-color: var(--secondary-color);
}

/* Text styles */
.cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 100;
    font-style: normal;
}

.beautiful-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: color 0.3s ease, font-size 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.beautiful-text:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.about-heading {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.aboutText {
    font-weight: 400;
}

/* custom classes to use  */

.inputfield {
    background-color: var(--primary-color);
    border-radius: 15px;
    border: 3px solid #09223b;
    padding: 20px;
    margin: 5px;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
}

.button {
    background-color: var(--primary-color);
    max-width: 200px;
    min-height: 50px;
    padding: 0px 20px;
}

.button:hover,
.button:focus {
    color: black;
    background-color: #5aacff;
}

.navbarimg {
    height: 35px;
    width: 35px;
}

.progresSkill {
    font-size: larger;
    font-weight: 600;
    padding: 9px;
    margin: 4px;
}

.tablepadding {
    padding: 8px;
}

/* education box styling in edu section */

.educationBox {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 350px;
    box-sizing: border-box;
}

.educationBox:hover {
    transform: scale(1.03);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
}

.degree {
    font-size: 23px;
    font-weight: 600;
    color: rgb(106, 29, 83);
}

.collegeName {
    font-size: 18px;
    font-weight: 400;
    color: var(--primary-color);
    padding: 4px;
    text-align: center;
}

.year {
    padding: 4px;
    color: black;
}

.interest {
    padding: 5px;
    color: black;
}

@media (max-width: 800px) {
    .educationBox {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        min-height: 300px;
        padding: 20px;
    }
}
